<div class="device dd-fullbox" id="{{id}}">
  <i class="dd-button" data-target="#modal-device-edit"></i>
  <!-- <ul class="dd-menu">
    <li><a href="#modal-device-edit">настройки</a></li>
    <li><a href="#modal-device-remove">удалить</a></li>
  </ul> -->
  <div class="">
    <div class="data">
      {{> device-data }}
      <div class="last">
        <span class="time">00:00</span> (<span class="temp">00</span>°)
      </div>
      <i class="id">{{id}}</i>
    </div>
  </div>
</div>
