<div class="modal-wrapper modal-device-remove" id="modal-device-remove" data-target="">
  <div class="modal-content">
    <h4>Удалить виджет?</h4>
    <form>
      <div class="form-actions">
        <button type="button" name="save">Да</button>
        <button type="button" name="cancel">Нет</button>
      </div>
    </form>
  </div>
</div>
