$color-text: #222;
$color-link: #0088cc;
$color-link-hover: #0099e6;
$color-link-menu: #fff;
$color-link-menu-hover: #9bbbd2;
$color-button1: #0088cc;
$color-button2: #038df3;
$blue: #0068B6;
$blue-hover: #005392;
$blue2: #0092FF; // sdf s
//
$bg-body-dark: #323245;
$green: #318723;
$red: #C71B13;
$blue: #1396C7;
